.practicePage button svg {
    display: inline;
}

.practicePage button * {
    vertical-align: baseline;
}

.practiceItems {
    align-items: baseline;
}

.practiceItems li {
    margin-right: 10px;
}

.practiceItems h1,
.practiceItems h2 {
    margin: 0;
}

.titleForm {
    max-width: var(--form-width);
    margin: 0 auto;
    text-align: left;
}

.buttonToolbar button {
    display: inline-block;
    margin-right: 10px;
}

.practicePage .body {
    text-align: center;
}