@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --foreground-muted-rgb: 128, 128, 128;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --background-color-2: 240, 240, 240;
  --border-color-1: 200, 200, 200;
  --accent-color-1: 200, 200, 200;
  --accent-color-2: 127 127 255;
  --link-color: 0 0 255;
  --link-color-visited: 255 0 255;

  --form-width: 400px;
}

@media (max-width: 500px) {
  :root {
    --form-width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-muted-rgb: 190, 190, 190;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-color-2: 50, 50, 50;
    --border-color-1: 150, 150, 150;
    --accent-color-1: 127, 127, 127;
    --accent-color-2: 127 127 255;
    --link-color: 127 255 255;
    --link-color-visited: 255 0 255;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body > * {
  width: 80vw;
  margin: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  background-color: transparent;
  color: rgb(var(--foreground-rgb));
}

input, textarea {
  border: solid 1px rgb(var(--accent-color-1))
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

label {
  font-weight: 600;
}

a {
  color: rgb(var(--link-color));
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: rgb(var(--link-color-visited));
}

button {
  color: rgb(var(--foreground-rgb));
}

button svg {
  fill: rgb(var(--foreground-rgb));
}

button:disabled {
  color: rgb(var(--accent-color-1));
}

button:disabled svg {
  fill: rgb(var(--accent-color-1));
}

#mainHeader {
  align-items: baseline;
}

#navDropdown {
  display: none;
}
#navLinks nav ul {
  display: flex;
}

@media (max-width: 975px) {
  #navDropdown {
    display: block;
  }
  #navLinks {
    display: none;
  }

  #navDropdown nav {
    white-space: nowrap;
  }
}

article {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

article ul {
    list-style: disc;
}

article ul li {
    list-style-position: inside;
}

article p, center, ul, ol {
    margin: 0 0 10px 0;
}
