#featuredSong > iframe {
    margin: 0 auto;
}

#reel {
    float: right;
    width: 50%;
    padding-left: 15px;
}

#reprise {
    float: left;
    width: 50%;
    padding-right: 15px;
}

ul.songs,
ul.links {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

.song {
    background-color: rgb(var(--background-color-2));
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.song header {
    height: 35px;
    display: flex;
    border-bottom: 1px solid rgb(var(--border-color-1));
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.song header h2,
.song header h3 {
    margin: 0;
}

.song header .links img {
    display: inline-block;
    margin-left: 5px;
}
