@media (max-width: 1000px) {
  .mainPage {
    width: 100vw;
    padding: 20px;
  }

  .content {
    flex-direction: column;
  }

  .content .settings {
    width: 100%;
    max-width: none;
  }
}

.mainPage {
  width: 80vw;
  margin: auto;
}

.content {
  display: flex;
}

.content .settings {
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 400px;
}

details.settings summary h3 {
  display: inline;
}

.content .randomTrainer {
  margin: auto;
  text-align: center;
}

.transport {
  font-size: 64px;
}

.transport > div {
  margin: auto;
}

.mainPage > * {
  width: 100%;
}

.noteCircles {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 310px;
  margin: 10px;
}

.noteCircle, .chordCircle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50px;
  background-color: rgb(var(--accent-color-1));
  text-align: center;
  font-size: 40px;

  position: absolute;
  transition: all .2s ease-in;
}
.chordCircle {
  font-size: 25px;
}

.noteCircle.index-0,
.chordCircle.index-0 {
  top: -100px;
  left: 50px;
}

.noteCircle.index-1,
.chordCircle.index-1 {
  top: 0px;
  left: 50px;
}

.noteCircle.index-2,
.chordCircle.index-2 {
  top: 110px;
  left: 0px;

  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 100px;
  background-color: rgb(var(--accent-color-2));
  font-size: 80px;
}
.chordCircle.index-2 {
  font-size: 50px;
}

.noteCircle.index-3,
.chordCircle.index-3 {
  top: 320px;
  left: 50px;
}

.form > .inputRow > label {
  width: 30%;
  display: inline-block;
}

.helptext {
  font-style: italic;
}

.form > .inputRow > input,
.form > .inputRow > textarea {
  width: 70%;
  display: inline-block;
}

.form > div {
  margin: 10px 0;
}

.metronome {
  font-family: 'Courier New', Courier, monospace;
}

.beat-even p {
  background-color: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

.beat-odd p {
  color: rgb(var(--background-start-rgb));
  background-color: rgb(var(--foreground-rgb));
}