@media (max-width: 1000px) {
  .mainPage {
    width: 100vw;
    padding: 20px;
  }

  .content {
    flex-direction: column;
  }

  .content .settings {
    width: 100%;
    max-width: none;
  }
}

.mainPage {
  width: 80vw;
  margin: auto;
}

.content {
  display: flex;
}

.content .settings {
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 400px;
}

details.settings summary h3 {
  display: inline;
}

.controls {
  align-items: center;
  margin: 10px 0 0 0;
}

.mainPage > * {
  width: 100%;
}