
.repriseIcon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('/img/logos/reprise-light.png');
    background-size: 50px 50px;

    margin: -12px;
}

.dark {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .light {
        display: none;
    }
    .dark {
        display: initial;
    }

    .repriseIcon {
        background-image: url('/img/logos/reprise-dark.png');
    }
}

#repriseArticle header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#repriseArticle h2 {
    font-size: 20px;
}

#repriseLogo {
    margin-right: 10px;
    display: flex;
    align-items: stretch;
    min-width: 10em;
}

#repriseLogo img {
    height: 10em;
    width: 10em;
}

.flex {
    display: flex;
    flex-direction: column;
}

#repriseScreenshot {
    order: 2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#repriseScreenshot img {
    max-width: 200px;
}

@media (min-width: 875px) {
    .flex {
        flex-direction: row;
        align-items: flex-start;
    }

    #repriseScreenshot {
        margin-top: 0;
        margin-left: 20px;
        justify-content: flex-start;
    }
    #repriseScreenshot img {
        max-width: 270px;
    }
}
