
.repriseIcon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('/img/logos/reprise-light.png');
    background-size: 50px 50px;

    margin: -12px;
}

.dark {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .light {
        display: none;
    }
    .dark {
        display: initial;
    }

    .repriseIcon {
        background-image: url('/img/logos/reprise-dark.png');
    }
}

#repriseArticle header {
    margin-bottom: 30px;
}

.clearBoth {
    clear: both;
}

#repriseLogo {
    float: left;
    margin-right: 10px;
}

#repriseScreenshot {
    float: right;
    margin-left: 20px;
}
